<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml
	Purpose:
		
	Description:
		
	History:
		Wed Oct 24 17:37:48     2007, Created by tomyeh

Copyright (C) 2007 Potix Corporation. All Rights Reserved.
-->

<config>
	<config-name>zkex</config-name><!-- used to resolve dependency -->
	<depends>zk</depends>

	<version>
		<version-class>org.zkoss.zkex.Version</version-class>
		<version-uid>5.0.11</version-uid>
		<zk-version>5.0.11</zk-version><!-- or later -->
	</version>

	<listener>
		<listener-class>org.zkoss.zkex.init.WebAppInit</listener-class>
	</listener>
<!-- 
	<library-property>
		<name>org.zkoss.zul.chart.engine.class</name>
		<value>org.zkoss.zkex.zul.impl.JFreeChartEngine</value>
	</library-property>
	<library-property>
		<name>org.zkoss.zul.captcha.engine.class</name>
		<value>org.zkoss.zkex.zul.impl.JHLabsCaptchaEngine</value>
	</library-property>
-->
</config>
