<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml
	Purpose:
		
	Description:
		
	History:
		Fri Apr 23 15:16:37     2010, Created by henrichen

Copyright (C) 2010 Potix Corporation. All Rights Reserved.
-->

<config>
	<config-name>zssex</config-name><!-- used to resolve dependency -->
	<depends>zss</depends>

	<version>
		<version-class>org.zkoss.zssex.Version</version-class>
		<version-uid>2.3.0</version-uid>
		<zk-version>5.0.7</zk-version><!-- or later -->
	</version>
	<listener>
		<listener-class>org.zkoss.zssex.init.WebAppInit</listener-class>
	</listener>
</config>
